body { 
  background-color: rgb(248, 243, 239);
  text-align: center; 
}

canvas {
  margin-bottom: 20px;
}

.nav {
  width: 100%;
}

.btn {
  background-color: #1c2229;
  color: rgb(248, 243, 239);
  border: 2px solid rgb(248, 243, 239);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 100px;
  transition: ease-out .2s;
  margin: 10px auto;
  display: inline ;
}

.btn:hover { 
  background-color: rgb(248, 243, 239); 
  color: #1c2229;
  border: 2px solid #d4c9a9;
}

.btn:disabled {
  background-color: #DDDDDD;
  cursor: not-allowed; 
}

.nav {
  margin: 10px 0;
}

#tela {
  background-color: rgb(248, 243, 239);
  border: 2px solid rgb(61, 61, 61); 
}

#sndBomba {
  
}